@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}


ol,
ul {
  list-style: none;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


input,
button,
textarea,
select {
  font: inherit;
}


a {
  text-decoration: none;
  color: inherit;
}


body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: 'Nunito', sans-serif;
  background-color: #efefef;
  color: #333333;
}

